<div class="footer">
  <div class="footer-links">

    ©2022 FieltroTex.
  </div>
  <div class="footer-copyright">
    This Website is made with <i class="fas fa-heart"></i> by HerrSebas
    <a href="https://github.com/HerrSebas"><i class="fab fa-github"></i></a>
  </div>
</div>
