<div class="banner">
  <div class="container">
  <h1>FieltroTex | Telas no tejidas</h1>
  <p>Bienvenido a la plataforma interna de tu organización</p>
  <a href="" class="btn-primary">Ingresar</a>
  </div>
</div>

<div class="container">
  <h2 class="text-center">Herramientas</h2>
  <div class="cards">
    <div class="card">
      <img src="" alt=>
      <h4>Picker</h4>
      <p>Registro de pacas y mezclas</p>
    </div>
    <div class="card">
      <img src="" alt=>
      <h4>Picker</h4>
      <p>Registro de pacas y mezclas</p>
    </div>
    <div class="card">
      <img src="" alt=>
      <h4>Picker</h4>
      <p>Registro de pacas y mezclas</p>
    </div>
    <div class="card">
      <img src="" alt=>
      <h4>Picker</h4>
      <p>Registro de pacas y mezclas</p>
    </div>
  </div>
</div>
