<h1>References#show</h1>
<p>Find me in app/views/references/show.html.erb</p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <b>Código:</b> <%= @reference.code %>
    </li>
    <li class="list-group-item">
        <b>Nombre:</b> <%= @reference.name %>
    </li>
    <li class="list-group-item">
        <b>Color:</b> <%= @reference.color %>
    </li>
    <li class="list-group-item">
        <b>Tipo:</b> <%= @reference.tipo %>
    </li>
  </ul>
